@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 0.4rem;
    border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background-color: #7d7d7d;
    border-radius: 0.3rem;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.store-grid{
    scrollbar-width: none;
} 

:root {
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: rgba(0, 0, 0, 1);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    scroll-behavior: smooth;
}

.custom-pulse {
    animation: pulse 1s ease-in-out infinite;
  }

  @keyframes pulse {
    0% {
      opacity: 0.6;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.6;
    }
  }

