.swiper {
    width: 100%;
    height: 100%;
  }
.swiper-button-next, .swiper-button-prev {
        border-radius: 50%;
        color: black;
        margin-left:2rem;
        margin-right:2rem;
        

  }

  @media screen and (max-width: 768px) {
    .swiper-button-next, .swiper-button-prev {
       
        margin-left:0rem;
        margin-right:0rem;
  }

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #F6F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }